<head>
    <link rel="stylesheet" href="../bower_components/angular-material/angular-material.min.css" />
</head>
<body ng-app="myApp" ng-controller="ctrl">
    <yc-md-checkbox ng-model='a.a.selected' list='employees' ctrl='vm'>
        <div flex ng-repeat="item in employees">
            <md-checkbox ng-checked="vm.exists(item)" ng-click="vm.toggle(item)">
                {{ item.name }} - {{ item.id }}
            </md-checkbox>
        </div>
    </yc-md-checkbox>
    
    <div flex="100">
      <h2 class="md-title">Selected Items</h2>
      <code style="display: block; padding: 8px;">{{a.a.selected | json}}</code>
    </div>
    
    <script src="../bower_components/angular/angular.min.js"></script>
    <script src="../bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="../bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="../bower_components/angular-messages/angular-messages.min.js"></script>
    <script src="../bower_components/angular-material/angular-material.min.js"></script>
    <script src="../dist/yc-md-checkbox.js"></script>
    <script src="./app.js"></script>
</body>